body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

/*Header*/
header{ 
    background-color: rgb(37, 37, 63);
    padding: 10px;
    border-top: 1px solid rgb(255, 255, 0); /*Borde superior de color amarillo*/
    border-bottom: 1px solid rgb(255, 166, 0) /*Borde inferior de color naranja*/;
}

    /*Header - H1*/
h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
}

    /*Header - H2*/
h2{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}

    /*Header - Menu*/
.menu{
    color: #FFFFFF;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding-right: 20px;
}


    /*Header - Buttons del menu*/
.a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(128, 128, 128, 0.726);
    border-radius: 24px;
    padding: 8px 12px;
    transition: all 0.5s;
}

.a:hover{
    color: orange;
}

/*Main*/
main{
    display: flex;
    align-items: center;
    padding-top: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.bottom-main-index{
    padding-bottom: 27rem;
}

.bottommain{
    padding-bottom: 20px;
}

.bottommainhorario{
    padding-bottom: 21.5rem;
}

.bottomcontacto{
    padding-bottom: 9rem;
}

    /*Main - Article*/
article{
    background-color: rgb(37, 37, 63);
    border-radius: 16px;
    color: #FFFFFF;
    padding: 20px;
    width: 887.55px;
}

article ul{
    padding: 0;
    padding-left: 20px;
    line-height: 1.4rem;
}

/*Main - Sections*/
section{
    background-color: rgb(37, 37, 63);
    border-radius: 16px;
    color: #FFFFFF;
    padding: 20px;
    width: 887.55px;
}

section ul{
    padding: 0;
    padding-left: 20px;
    line-height: 1.4rem;
}

    /*Main - Títol*/
h3{
    color: rgb(255, 123, 0);
}

    /*Main - IMG*/

img{
    width: 887.55px;
}

    /*Main - Enlaces*/

.enlace{
    color: rgb(255, 166, 0);
}


    /*Main - Tablas*/
table, td, th, tr{
    border: 1px solid #ffffff52;
    border-collapse: collapse;
    padding: 5px 3.2rem;
    text-align: center;
}

.darkblue{
    background-color: rgb(1, 2, 39);
}

    /*Main - Formulario*/

.bottomespai{
    margin-bottom: 10px;
}

input{
    background-color: rgb(1, 2, 39);
    border: 1px solid #ffffff49;
    padding-right: 43.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea{
    background-color: rgb(1, 2, 39);
    border: 1px solid #ffffff49;
}

select{
    background-color: rgb(1, 2, 39);
    border: 1px solid #ffffff49;
    padding-right: 48rem;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
}

button{
    padding: 8px 15px;
    border-radius: 16px;
    border: none;
    font-weight: bold;
    background-color: red;
    transition: all 0.5s;
}

button:hover{
    background-color: orange;
    cursor: pointer;
}

/*Footer*/
footer{
    background-color: rgb(37, 37, 63);
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}


/*Flex*/
.flex{
    display: flex;
}

