body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

/*Div width100%*/
.width100{
    width: 100%;
}

/*Header*/
header{ 
    background-color: rgb(37, 37, 63);
    padding: 10px;
    border-top: 1px solid rgb(255, 255, 0); /*Borde superior de color amarillo*/
    border-bottom: 1px solid orange /*Borde inferior de color naranja*/;
}

    /*Header - H1*/
h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
}

    /*Header - H2*/
h2{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}

    /*Header - Menu*/
.menu{
    color: #FFFFFF;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding-right: 20px;
}

    /*Header - Buttons del menu*/
a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(128, 128, 128, 0.726);
    border-radius: 24px;
    padding: 8px 12px;
}

    /*Flex*/
.flex{
    display: flex;
}

