body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

h1{
    color: #FFFFFF;
    text-align: center;
}

h2{
    color: #FFFFFF;
}

.flex{
    display: flex;
}

.menu{
    color: #FFFFFF;
    list-style: none;
    gap: 10px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(128, 128, 128, 0.726);
}
